* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}

.blocks_wrapper {
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  gap: 2px;
  flex-wrap: wrap;
  width: 606px;
  height: 606px;
  .block {
    outline: 2px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    font-weight: 200;
    padding-bottom: 20px;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: rgb(222, 222, 222);
    }
    &:active {
      transition: 0.2s;
      background-color: rgb(200, 200, 200);
    }
  }
}

.players_turn {
  position: fixed;
  top: 20px;
  left: 20px;
}

.win_modal_wrapper {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  &.showed {
    top: 0;
    .win_modal_content {
      scale: 1;
    }
  }
  .win_modal_content {
    scale: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 60px;
    background-color: white;
    box-shadow: 0 0 16px white;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    transition: 0.3s;
    .winner {
      font-size: 26px;
      margin-bottom: 20px;
    }
    .select_turn_wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      border-radius: 8px;
      padding: 10px 20px;
      outline: 1px solid black;
      box-shadow: 0 0 12px black;
      .title {
        font-size: 30px;
      }
      .icons_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: black;
          color: white;
          border-radius: 6px;
          font-size: 26px;
          font-weight: 200;
          transition: 0.3s;
          &.selected_icon {
            background-color: greenyellow;
            color: black;
          }
          &:hover {
            cursor: pointer;
            scale: 1.1;
            background-color: greenyellow;
            color: black;
          }
          &:active {
            transition: 0.2s;
            scale: 0.9;
          }
        }
      }
    }
    .restart_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      .restart_icon {
        width: 60px;
        height: 60px;
        rotate: 0deg;
        transition: 0.6s;
        &:hover {
          cursor: pointer;
          rotate: -360deg;
        }
        &:active {
          transition: 0.2s;
          scale: 0.88;
        }
      }
    }
  }
}
